.form fieldset {
    width: 405px;
    height: 493px;
    position: relative;;
    bottom: 975px;
    margin-left: 5rem;
}

.form label {
    margin: 1rem;
}

.form-item {
    margin: 1rem;
}

.problem  {
    text-align: left;
}

.form textarea {
    position: absolute;
    left: 50px;
    width: 300px;
    margin-top: 2rem;
}

.purpose {
    display: flex;
}

.reply {
    margin-top: 2rem;
}